
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("istockphoto-1175877931-612x612.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*body {
  background-image: url(istockphoto-1175877931-612x612.jpg);
    background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(8px);
  -webkit-filter: blur(8px);
 
}*/

.initial {
  all: unset;
}

header {
    text-align: center;
    font-size: 80px;
    color:rgb(213, 228, 221);
    font-family: 'Roboto', sans-serif;;
    font-style: oblique;
}

h2 {
    text-align: left;
    font-size: 70px;
    color:aqua;
    font-family: 'Roboto', sans-serif;;
    font-style: oblique;
    inherits: none;
}

p.para {
  color:black  
  }
  
 p {

    color: white;
    background-color: rgba(0,0,0, 0.4);
    background-color: rgb(0,0,0);
    font-weight: bold;
    border: 3px solid #f1f1f1;
  position: absolute;
    font-family: 'Roboto', sans-serif;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    text-shadow: 5px 5px 10px blue
      }


article {
   background-image: transparent;
   width: 50%;
   padding: 10px;
   border: 10px solid rgb(173, 17, 17);
   margin: 0
}



