body {
    height: 100vh;
}

.mainContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(214, 207, 207, 0.692);
}

.header {
    background-color: rgba(245, 245, 245, 0.884);
    box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
-webkit-box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
-moz-box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
width: 100%;
height: 40%;
}


img {
    width: 40%;
    max-height: 300px;
    max-width: 300px;
    margin: -10px;
}

.navItems {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: darkviolet;
    font-size: 1.2rem;
}

table {
    display: flex;
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 20px;
}

td, th {
    border-bottom: 1px solid rgb(172, 163, 163);
    padding: 5px;
    width: 50%;
}

tr {
    width: 90%;
}

.knyguLentyna {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    align-content:  center;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    border: 1px solid rgb(128, 118, 118);
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
-webkit-box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
-moz-box-shadow: 5px 6px 20px 2px rgba(0,0,0,0.6);
height: 35%;

}

.copyright {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.815);
}

@media screen and (min-width: 400px) {

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.navigationcontainer {
    display: flex;

}
 .navItems {
    margin: 10px;
 }

 table {
    display: flex;
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

}

tbody th, td {
    border-bottom: 1px solid rgb(172, 163, 163);
    padding: 5px;
    width: 100vh;
}

}


