
body {
    width: 100%;
    margin: auto 0px;
    
    
}
.grandfather {
    height: 100%;
    margin: auto 0px;
    flex-wrap: wrap;
    
    
}



.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    background-color: lightgreen;
    border: 2px dotted black;
    width: 100%;
    text-align: center;
   
    
}

.pokairevienas .vienas {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 2px dotted black;
    text-align: center;
    
    
    
}

.pokairevienas {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.middle34 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    
    
}

.middle34 .sidemenu  {
    padding: 1vw;
    max-width: 100px;
    border: 2px dotted black;
    
    
}

.middle34 .trysmiddle {
    padding: 10vw;
    border: 2px dotted black;
    
    
}

.middle34 .keturimiddle {
    padding: 10vw;
    border: 2px dotted black;
   
    
}
.middle34,  .trysmiddle, .keturimiddle {
    width: 100%;
}


/* .flex .cancercellketuri {
    display: flex;
   
    width: 100%;
    flex: 1;

} */


.cancercellketuri  {
    height: 170%;
    margin-top: -80px;

}
.cancercell56main .cancercellmain .cancercellketuri4 {
    width: 35%;
    text-align: center;
   
    

}

.cancercellmain {
    display: flex;
    width: 100%;
    
    
}

.cancercellmain .cancercellketuri {
  
    border: 2px dotted black;
    background-color: lightgreen;
    
    
}

.cancercell56main .cancercell5,  .cancercell56 {
    background-color: lightgreen;
    border: 2px dotted black;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 2px dotted black;
    text-align: center;
    width: 93%;
    float: right;
  
   
}



.cancercell56main .cancercellmain .flex .middle34 {
    width: 100%;
 
    
}

.cancercell56main .cancercellmain .flex .middle34 .sidemenu {
    background-color: aqua;
    width: 100%;
    margin-bottom: -158px;
    margin-left: -2px;  
    
}

@media screen and (max-width: 600px) {

    
.cancercell56main .cancercellmain .flex .middle34 .sidemenu {
    display: none;
}


}


